#cloud-config
hostname: test1
fqdn: test1.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCp7+misqspu7jRO3SJEFK/oMxXNiDunR9hFvd+QUq/xPdEOb5gcu1tPAu+asflETYS5E+Z0HWLBx5f+bCEJZH2zkb7uV4HkemvzLAiev1iaT5uS9PwZjyQlX4CRB/yRqcLZ2M53c2AFhkBRWi/drOwUvcftlGDcEiZepKpOs2b5VNLYLzTtefDHxEq6BRnvh+EPnxGkPgj0Yyjlrio14XT7qfTeCL/goFrDj+DLs1FQc8AImKJU9SDNA72gUAzXhLMsv15o8rLofYUTrgKN5RffA8Vyr56+AFl7DxETYsnT+UyBlorf0cNRhXXr3L5hExIzPIUzyA+UgjpZmtEUJEVNTdXMqCTZDMdzTWUnDa2BeXZVVA4lLho7WacRg/btUyQEGo78mZzuwmW+qof8/QB4HjJihj+dzZQbXJoRGRmMF0ARnTntn1xG9dmtfotk3XuJa1NesLu1jj0ygjAbw86DoCfp06FjT2yvOixcpGbkIrY0kYJoeq7o1+TSYoukXc= me@1.uni.net
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ubuntu:linux
  expire: False
packages:
  - qemu-guest-agent
# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds"
